%! Author = ACA
%! Date = 11-Sep-21

% Packages
\usepackage{graphicx}
\usepackage{xparse}
\usepackage{xcolor}
\usepackage{fancyhdr}
\usepackage{lastpage}
\usepackage{float}
\usepackage{titlesec}
\usepackage{etoolbox}
\usepackage[style=iso]{datetime2}

\graphicspath{ {./media/} }

% Hyperlinks in tables of content, figures, tables...
\hypersetup
{
    colorlinks,
    citecolor=black,
    filecolor=black,
    linkcolor=darkgray,
    urlcolor=black,
    linktoc=all,
}

% Environment for requirements
\NewDocumentEnvironment{requirement}{m o}
    {
        \vspace{0.05cm}
        \interlinepenalty 10000 % Discourage LaTeX from adding page breaks in the env
        \begin{flushleft}
            \textbf{\large Requirement [#1] } \label{#1}
            \IfValueTF{#2} % If optionnal argument is passed
            {
                \hfill
                Validation strategy: #2
            }
            { } % No optional argument : print nothing
        \end{flushleft}
        \vspace{0.05cm}
        \begin{center}
        \begin{tabular}{|p{0.9\textwidth}|}
        \hline\\
    }
    {
        \\\\\hline
        \end{tabular}
        \end{center}
        \vspace{1cm}
        \interlinepenalty 0 % Reset the interline penalty for page breaks
    }

% Environment for authors / reviewers / etc. table on first page
\newenvironment{authors}
{} {}

% Chapter title format
\titleformat{\chapter}
{\normalfont\Large\bfseries}{\thechapter}{1em}{}
\titlespacing*{\chapter} {0pt}{3.5ex plus 1ex minus .2ex}{2.3ex plus .2ex}

% Fonts
\renewcommand{\rmdefault}{phv} % Arial
\renewcommand{\sfdefault}{phv} % Arial

% Header and footer

% \chapter command needs to be patched so it stops re-applying the 'plain' style
% See https://tex.stackexchange.com/questions/117328/fancyhdr-does-not-apply-same-header-footer-on-chapter-and-non-chapter-pages
\patchcmd{\chapter}{\thispagestyle{plain}}{\thispagestyle{fancy}}{}{}

% Setup the 'fancy' page style
\fancypagestyle{fancy}
{
    \fancyhf{} % remove everything
    \renewcommand{\headrulewidth}{2pt}
    \renewcommand{\footrulewidth}{1pt}

    \lhead  {
                \projectTitlePretty \\
                \documentTitlePretty
            }
    \chead  {
                \includegraphics [scale=0.6] {classification}
            }
    \rhead  {
                \documentUidPretty \\
                VERSION HERE \\
                \today
            }
    \rfoot  {
                \thepage~/~\pageref*{LastPage}
            }
    \cfoot  {
                \raisebox{-0.5\height}{\includegraphics [scale=0.6] {classification}}
            }
}

% Apply the style *everywhere* (except first page?)
\pagestyle{fancy}


% Glossary
\newglossarystyle{clong}
{
    \renewenvironment{theglossary}
        {\begin{longtable}{p{.3\linewidth}p{\glsdescwidth}}}%
        {\end{longtable}}
    \renewcommand*{\glossaryheader}{}%
    \renewcommand*{\glsgroupheading}[1]{}%
    \renewcommand*{\glossaryentryfield}[5]
        {
            \glstarget{##1}{##2} & ##3\glspostdescription\space ##5\\
        }
    \renewcommand*{\glossarysubentryfield}[6]
        {
            & \glstarget{##2}{\strut}##4\glspostdescription\space ##6\\
        }
}
